{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h2>Profile</h2>

    {% for field in form %}
        {{ field.error }}
    {% endfor %}

    <div class="user_data">
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Phone: {{ profile.phone }}</p>
        <p>Site: {{ profile.website }}</p>
        <p>City: {{ profile.city }}</p>
        <p>Points: {{ profile.user_points }}</p>
        <div class="discount_code">
            <p>Discount code: {{ discount.code }}</p>
            <form action="{% url 'discount:create' %}" method="post">{% csrf_token %}
                <input type="submit" name="discount" value="GetDC" />
            </form>
        </div>
        <form action="{% url 'profile:update_profile' %}">{% csrf_token %}
                <input type="submit" name="update_profile" value="UP" />
        </form>
    </div>

{% endblock %}