{% extends 'base.html' %}
{% load static %}

{% block title %}
  Producers Page
{% endblock %}

{% block content %}
  <!--<div id="sidebar" class="col-sm-3">-->
    <!--<h3>Categories</h3>-->
    <!--<ul>-->
      <!--<li {% if not category %} class="selected" {% endif %}>-->
        <!--<a href="{% url 'products:ProductList' %}">All</a>-->
      <!--</li>-->
      <!--{% for cat in categories %}-->
        <!--<li {% if category.slug == cat.slug %} class="selected" {% endif %}>-->
          <!--<a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>-->
            <!--{% for child in cat.get_children %}-->
                <!--<a href="{{ child.get_absolute_url }}">{{ child.name }}</a>-->
            <!--{% endfor %}-->
        <!--</li>-->
      <!--{% endfor %}-->
    <!--</ul>-->
  <!--</div>-->
  <div id="main" class="product_list col-sm-9">
      <form class="search-form-container" action="/find/" method="get" >
          <div class="form-group">
              <div class="icon-addon addon-lg">
                  <input type="text" placeholder="what are you looking for ?" class="form-control" name="q" id="q" autocomplete="on">
                  <div id="selction-ajax"></div>
              </div>
          </div>
      </form>

    <table class="ItemsRow">
        <tbody>
        {% for producer in producers %}
        {% cycle '<tr>' '' '' '' %}
            <td>
                <a href="{{ producer.get_absolute_url }}">
                    <img src="{% if producer.image %}{{ producer.image.url }}{% else %}{% static 'img/no-image.jpg' %} {% endif %}" class="img-responsive">
                </a>
            </td>
         {% cycle '' '' '' '</tr>' %}
        {% endfor %}
        </tbody>
    </table>
  </div>
{% endblock %}