{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{ product.name }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">

            <div class="col-lg-4">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no-image.jpg'%}{% endif %}" class="img-responsive">
            </div>

            <div class="col-lg-8">
                <h1>{{ product.name }}</h1>
                <h2><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h2>
                <p class="price">
                    Price: {{ product.price }} rub.
                </p>

                <div class="">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                      <li role="presentation" class="active">
                          <a href="#description" data-toggle="tab">
                              Description
                          </a>
                      </li>
                      <li role="presentation">
                          <a href="#dellivery" data-toggle="tab">
                              Delivery
                          </a>
                      </li>
                      <li role="presentation"><a href="#messages" data-toggle="tab">Сообщения</a></li>
                      <li role="presentation"><a href="#settings" data-toggle="tab">Настройки</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content product-description-tabs">
                      <div role="tabpanel" class="tab-pane active" id="description">
                          {{ product.description }}
                      </div>
                      <div role="tabpanel" class="tab-pane" id="dellivery">
                          <h3>How we're make delivery!</h3>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="messages">...</div>
                      <div role="tabpanel" class="tab-pane" id="settings">...</div>
                    </div>
                </div>

                <div>
                    <form class="add" action="{% url 'cart:CartAdd' product.id %}" method="post">
                        {% csrf_token %}
                        {{ cart_product_form }}
                        <input type="submit" value="Add to cart">
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}