{% extends "base.html" %}

{% block title %}
  Ordering
{% endblock %}

{% block content %}
  <h1>Ordering</h1>
  <div class="col-sm-4">
    <h2>Fill the form</h2>
    <form class="order-form" action="." method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit">
    </form>
  </div>

  <div class="order-info col-sm-8">
    <h2>Your Order</h2>
    <ul>
      {% for item in cart  %}
        <li>
          {{ item.product.name }} | Quantity: {{ item.quantity }} | Total price: {{ item.total_price }}
        </li>
      {% endfor %}
      {% if cart.discount %}
        <li>
          "{{ cart.discount.code }}" ({{ cart.discount.discount }}% less)
          <span> - {{ cart.get_discount|floatformat:"2"}} RUB.</span>
        </li>
      {% endif %}
    </ul>
    {% if cart.points %}
      <p><strong>Total:</strong> {{ cart.get_total_deduct_points|floatformat:"2"}} RUB.</p>
    {% else %}
      <p><strong>Total:</strong> {{ cart.get_total_price_after_discount|floatformat:"2"}} RUB.</p>
    {% endif %}
  </div>
{% endblock %}